<%- include ("../partials/header" ) %>
<div class="ui container segment">
<div class="ui header huge">Profile</div>
<div class="ui centered card">
    <div class="image">
      <img src="<%=user.image%>">
    </div>
    <div class="content">
      <a class="header"  style="display: inline;"><%=user.username%></a>
      <%if(user.isAdmin){%>
        <i class="fas fa-users-cog"></i>
      <%}%>
      <a href="" class="text"><%=user.email%></a>
    </div>
  </div>    
  <!-- <div>qualification</div>
  <div>description</div>
  <div>Intrests !</div> -->
  
</div>
<div class="ui container">
<h2 class="ui block header">Blogs Created</h2>
<% if(AllBlogs.length < 1) { %>
  <div class="ui segment" style="width: 50%; margin: 0 auto;"><h3 style="text-align: center;">No Blogs to show</h3> </div>
<%}%>
<% AllBlogs.forEach((blog)=>{%>
<div class="ui card floatMe ">
  <div class="ui medium image">
    <img src="<%=blog.image%>">
  </div>
  <div class="content">
    <a class="header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
    <div class="meta">
      <span class="date"><%=moment(blog.createdDate).fromNow()%></span>
    </div>
    <div class="description">
      <%=blog.content.substring(0,30)%>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="comment icon"></i>
      <%=blog.comments.length%>
    </a>
  </div>
</div>
<%});%>
</div>
<%- include ("../partials/footer" ) %>
